body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #282A36;  /* Темный фон */
    color: #F8F8F2;              /* Светлый текст */
}

h1, h2 {
    color: #66D9EF;              /* Цвет заголовков */
}

div {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #44475A;   /* Светло-черный фон для блоков */
    border: 1px solid rgba(255, 255, 255, 0.2);  /* Полупрозрачные границы */
    border-radius: 5px;
    border: none
}

a {
    margin-right: 10px;
    color: #8BE9FD;               /* Цвет ссылок */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #FF79C6;   /* Цвет кнопок */
    color: #F8F8F2;               /* Цвет текста кнопок */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FF92D3;    /* Светлее цвет кнопки при наведении */
}

/* Стили для навигационной панели */
.navbar {
    background-color: #44475a;
    padding: 0rem 1rem;
    min-height: calc(1.5rem + 2px - 60px);
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.navbar-collapse {
    background-color: #3a3b47;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px; /* Отодвинули левую границу блока навбар коллапс на 10 пикселей правее */
}

.navbar-collapse .nav-link {
    color: #f8f8f2;
}

.navbar-collapse .nav-link:hover {
    color: #66d9ef;
}

.list-group {
    width: 100%;
}

.list-group-item {
    width: 100%;
    box-sizing: border-box;
}

.navbar-brand {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1;
    position: relative;
    top: -10px; /* Подняли кнопку "Мой Форум" на 5 пикселей выше */
}