<div class="list-group zoom" id="list-tab">
      <a class="list-group-item list-group-item-action" id="list-home-list" href="/my_posts.html" aria-controls="list-home">Мои посты</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" href="/subscriptions.html" aria-controls="list-profile">Подписки</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" href="/search.html" aria-controls="list-settings">Поиск</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" href="/notifications.html" aria-controls="list-settings">Уведомления</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" href="/bookmarks.html" aria-controls="list-messages">Закладки</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" href="/my_settings.html" aria-controls="list-settings">Настройки</a>
    </div>

<!-- .zoom{
    zoom:1.3;
} -->