body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* display: flex; */
}
html{
    height: 100vh;
    scroll-behavior: smooth;
}
.cal{
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    border: 1px solid black;
}
.zoom{
    zoom:1.3;
}
.scrollspy-area{
    height: 100vh;
    overflow-y: auto;
    position: relative;
}
